.HeaderStyle {
    background-color: var(--roxo-principal);
    display: flex;
    justify-content: space-around;
    padding: 1% 0% 1% 0%;
}

.NavBar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}