.HeaderStyle {
    background-color: var(--roxo-principal);
    display: flex;
    justify-content: space-evenly;
    padding: 1% 2% 1% 2%;

}

.DropdownNavBar {
    background-color: transparent;
    color: var(--cor-letra);
    
}

.OtherNavBar {
    display: flex;
    align-items: center;

}