.HeaderStyle {
    background-color: var(--roxo-principal);
    display: flex;
    justify-content: space-evenly;
    padding: 1% 2% 1% 2%;

}

.DropdownNavBar .nav-link{
    display: flex;
    align-items: center;
    background-color: transparent;
    color: var(--cor-letra) !important;
    border: none !important;
}

.OtherNavBar {
    display: flex;
    align-items: center;

}