* {
  margin: 0rem;
  color: var(--cor-letra);

}

body{
  background-color: var(--fundo-principal);
}

:root {
  --roxo-principal: #7061EF;
  --roxo-claro: #6684ED;
  --fundo-principal: rgb(67, 67, 67);
  --fundo-card: #B5D3ED;
  --fundo-botao: #244AF0;
  --cor-letra: white;
  --cor-chocolate: #d2691e;

}

.LinkStyle {
  text-align: center;
  font-size: 130%;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 2%;
  text-decoration: none;
  margin: 10%rem;

}

.ButtonAnimation:hover {
  transition-duration: 200ms;
  opacity: 0.4;

}

.ButtonStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  background-color: #4CAF50;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 2rem;
  text-decoration: none;
  color: white;
  margin: 1rem;

}

.LogoLink {
  width: 15%;
  border-radius: 50%;
  border: 1% solid var(chocolate);

}